.main {
    display: grid;
    grid-column-gap:40px;
    background-color: pink;
    grid-row-gap:30px;
    grid-template-columns: auto auto auto auto;
}

.itm{
background-color: green;
border: 2px solid;
}

.sub4{
grid-row: 1 / span 5;
}